<div class="explanation">
	<h1 class="heading explanation-heading">Explanation</h1>

	</p> This is a so-called reaction time experiment, which means that
	you should answer as quickly as possible. The experiment consists of trials, which simply is
	a row of letters, as seen below.
	The central letter is the target letter. You should always press the key that corresponds to the
	target letter. In the example below, this would be <b>H</b> for the first two, and <b>S</b> for the second two.
	</p>

	<div>
		<div>
			<p>HHHHHHH</p>
			<p>SSSHSSS</p>
		</div>
		<p>SSSSSSS</p>
		<p>HHHSHHH</p>
	</div>

	<p>
	If you have pressed the right key, you get a green <span class="right">O</span> as feedback.
	However, if you have pressed the wrong key or were too slow, a red <span class="wrong">X</span>
	will appear on the screen. The Experiment consists of 96 Trials, which should take about
	3 minutes to complete.
	</p>

	<p>
	There will be a practice trial for you the get a feeling for the experiment.
	To demonstrate your understanding, please click the heading <b>Explanation</b> above to proceed
	with the experiment.
	<p>

	<div class="listened" >
		<button class="btn-xl btn-success proceed">Proceed</button>
	</div>
</div>
