<div class="exp-feedback">
	<h1 class="heading">Experiment Feedback</h1>
	<div class="feedback-intro">
		<p>Congratulations! You have made it all the way through the experiment.</p>
		<p>In order to improve future experiments, please provide us with some feedback.
		If you have encountered any problems (e.g. did not fully understand the instruction),
		please mention them below.</p>
	</div>

	<div class="questions">
		<textarea style="font-size: 30px;"class="form-control" rows="4"></textarea>
		<br>
		<input type="button" class="btn-xl btn-success give-feedback" value="Give Feedback">
	</div>
</div>
