<div class="instruction">
	<h1 class="heading">Hello there!</h1>

	<div class="intro">
		<p>Thank you for taking the time to participate in this experiment.
		Below is some information that describes the nature of the experiment, 
		what to expect, and how you will be measured. Please take the time
		to read this over before deciding to participate in this experiment.</p>
	</div>

	<div class="exp">
		<p>This is a reaction time experiment, which means you will be presented
		with a stimulus to which you should respond as quickly as possible by
		pressing a certain key. In this case, the stimulus is a row of letters, and
		the possible responses are the letters <em>S</em> and <em>H</em>. But more
		on that later.</p>
	</div>

	<div class="legal">
		<p>In this experiment we collect your reaction time data, as well as some information about
		yourself (sex, age, country). This data is used for scientific purposes only. By
		participating in this experiment, you give consent to the collection of your data.
		</p>
	</div>

	<p>
	In order to be fully concentrated on the experiment, please remove all
	disturbances temporarily and find a quiet place.
	Additionally, please change into Full-Screen Mode by pressing F11.
	<p>

	<div class="listened" >
		<p style="color: green;">Thank you very much!</p>
		<button class="btn-xl btn-success agree">Participate</button>
	</div>
</div>
