<div class="questions">
	<form role="form" class="create-new-participant">
		<legend>Information</legend>

		<div class="row">
			<div class="form-group">
				<div class="col-md-4">
					<label for="sex">Sex</label><br>
					<input type="radio" name="sex" value="male"> Male
					<input type="radio" name="sex" value="female"> Female
				</div>
			</div>
		</div>

		<div class="row">
			<div class="form-group">
				<div class="col-md-4">
					<label for="country">Country</label><br>
					<input type="text" class="form-control" name="country">
				</div>
			</div>
		</div>

		<div class="row">
			<div class="form-group">
				<div class="col-md-4">
					<label for="age">Age</label><br>
					<input type="text" class="form-control" name="age">
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-4">
				<input type="submit" class="btn-xl btn-success" value="Start Practice!">
			</div>
		</div>

	</form>
</div>
